@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default theme */
  --background: #e9ecef;
  --accent: #101218;
  --secondary: #a37a5c;
}

[data-theme="dark"] {
  --background: #101218;
  --accent: #e9ecef;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--accent);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body.changing-theme #calendar {
  display: none;
}

.appear-fade-in {
  animation: fadeIn 0.5s forwards;
}

#calendar.fade-in {
  animation: fadeIn 0.5s forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.title {
  @apply text-2xl lg:text-3xl 2xl:text-4xl font-bold;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 50%;
  position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
}

.tooltip-arrow:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: inherit;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}
