@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #a37a5c;
  --primary: #a37a5c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body.changing-theme .box {
  display: none;
}

#calendar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  opacity: 0;
}

#calendar.fade-in::after {
  animation: fadeIn 1s forwards;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.title {
  @apply text-3xl font-bold;
}
