@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e9ecef;
  --accent: #2d3538;
}

body {
  background-color: var(--background);
  color: var(--accent);
  transition: background-color 300ms ease-out, color 300ms ease-out;
  font-family: Arial, Helvetica, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.title {
  @apply text-3xl font-bold;
}
